services:
  db:
    image: postgres:16
    container_name: pawpals-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: pawpals-api
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/pawpals
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - db
